---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Le bureau";
---

<Layout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <h2>Membres du bureau</h2>
  <p>Président : Alain CASTETS</p>
  <p>Secrétaire : Karine Mellier</p>
  <p>Trésorier.e : à pourvoir</p>
  <p>Espaces verts : Alexandre CHISLARD</p>
  <p>Informatique : Baptiste LONGY</p>
  <p>Travaux : Gilles MARCON</p>

  <h2>Nous contacter</h2>
  <p>Par email : aslchateaudepone@gmail.com</p>
  <p>Par voie postale :<br />31 allée des Biches<br />78680 Epône</p>
  </Layout>

