---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';

const pageTitle = "ASL de la résidence du chateau d'Epône";
---

<Layout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>c'est la page d'accueil</p>
</Layout>
